/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  } */
/*   
  li {
    float: left;
  }
   */
  /* li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  } */
  /* footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  } */
.logoutButton{
    background: none !important;
    border: none;
    padding: 0 !important;
    color: white;
    margin-top: 26%;
    margin-left: 20%;
}
.rightSide{
  text-align: end;
}
.leftSide {
  text-align: left;
}
.msgContainer{
  width:50%;
  margin-top: 5%;
}